# Format Style Options - Created with Clang Power Tools
---
Language: Cpp
BasedOnStyle: LLVM
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignEscapedNewlines: Left
BinPackArguments: false
BinPackParameters: false
ColumnLimit: 100
FixNamespaceComments: false
IndentWidth: 4
PointerAlignment: Left
TabWidth: 4
...
