# Binaries
**/bin/
bin-int/

# PepperMint files
**.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# Directories
PepperMint/vendor/VulkanSDK
Menthol/assets/cache
scripts/__pycache__
