[submodule "PepperMint/vendor/spdlog"]
	path = PepperMint/vendor/spdlog
	url = ../../gabime/spdlog.git
	branch = v1.x
[submodule "PepperMint/vendor/GLFW"]
	path = PepperMint/vendor/GLFW
	url = ../../Naheuldark/glfw.git
	branch = master
[submodule "PepperMint/vendor/imgui"]
	path = PepperMint/vendor/imgui
	url = ../../Naheuldark/imgui.git
	branch = docking
[submodule "PepperMint/vendor/glm"]
	path = PepperMint/vendor/glm
	url = ../../g-truc/glm.git
	branch = master
[submodule "PepperMint/vendor/yaml-cpp"]
	path = PepperMint/vendor/yaml-cpp
	url = ../../Naheuldark/yaml-cpp.git
