# Binaries
**/bin/
bin-int/
!vendor/premake/bin/

# PepperMint files
**.log

# ImGui files
**.ini

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# Directories
PepperMint/vendor/VulkanSDK
Menthol/assets/cache
scripts/__pycache__
